<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Ticket Seller - Login</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">

</head>
<body>
<section class="" style="background-color: #060c22;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card col-6" style="border-radius: 1rem;">
                <div class="card-body p-4 p-lg-5 text-black">

                    <!-- Message pop-ups alerts -->
                    <div class="alert alert-danger alert-dismissible fade show" th:if="${param.error}" role="alert">
                        Invalid username or password
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" th:if="${param.logout}" role="alert">
                        Successfully logged out
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" th:if="${param.register_success}" role="alert">
                        Successfully registered. Please log in.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- Register Form -->
                    <form th:action="@{/register}" method="POST">
                        <h5 class="fw-normal mb-2 pb-2 text-center" style="letter-spacing: 1px;">
                            Create your Ticket Seller account
                        </h5>

                        <!-- Register Form Inputs -->
                        <div class="form-outline mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" type="email" name="username">
                        </div>
                        <div class="form-outline mb-3">
                            <label class="form-label">Password</label>
                            <input class="form-control" type="password" name="password">
                        </div>
                        <div class="form-outline mb-3">
                            <label class="form-label">First Name</label>
                            <input class="form-control" type="text" name="firstName">
                        </div>
                        <div class="form-outline mb-3">
                            <label class="form-label">Last Name</label>
                            <input class="form-control" type="text" name="lastName">
                        </div>
                        <div class="pt-1 mb-3 text-center">
                            <input class="btn btn-dark btn-block" type="submit" value="Register">
                            <a th:href="@{/login}" class="btn btn-danger">Cancel</a>
                        </div>
                        <div class="text-center">
                            <p>Or sign up with:</p>
                            <a th:href="@{/}" class="btn btn-link btn-floating">
                                <i class="bi bi-google"></i>
                            </a>
                        </div>

                        <!-- Register buttons -->


                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/aos/aos.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>